.background {
  position: relative;
  margin: 1.25rem;
  width: 48rem;
  height: 27rem;
  margin: 1rem auto;
  background-image: url('./r.jpg');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0.3rem;
  box-shadow: 0 -0.125rem 0.2rem 0.1rem #c6e4fc,
    0 -0.125rem 0.4rem 0.25rem #f7fbfc, 0 0.125rem 0.2rem 0.1rem #7e9299,
    0 0.125rem 0.4rem 0.25rem #7e9299;
}
.background__video {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.background__logo {
  position: absolute;
  z-index: 20;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
}
[class*='background__heading'] {
  display: block;
  margin: 0;
  position: absolute;
}
.background__heading-1 {
  font-size: 10rem;
  top: 1.25rem;
  left: 3.75rem;
  color: #ee2375;
  text-shadow: 0 0 0.125rem #ee2375;
  .heading-1__span {
    display: inline-block;
    transform: skewX(-12deg);
  }
}
.background__heading-4 {
  font-size: 3rem;
  padding: 0.2rem;
  top: 12rem;
  left: 3.75rem;
  right: 4.75rem;
  padding-left: 2.4rem;
  background-color: #ee2375;
  color: #fff;
  &:before {
    content: '';
    position: absolute;
    width: 1.9rem;
    height: 1.3em;
    top: 0;
    left: -1.9rem;
    z-index: 10;
    background-image: linear-gradient(
      to bottom right,
      transparent 50%,
      #ee2375 50%
    );
  }
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: -4rem;
    top: 1rem;
    z-index: 20;
    border-style: solid;
    border-width: 2.8rem 4.9rem 0 0;
    border-color: #fff transparent transparent transparent;
    transform: rotate(-34deg);
  }
}
.background__heading-2 {
  top: 16rem;
  left: 27.375rem;
  padding: 0 1.25rem;
  font-size: 4.8rem;
  background-color: #fff;
  color: #000;
  text-shadow: 0 0 0.125rem #000;
  &:after {
    content: '';
    position: absolute;
    width: 2.75rem;
    height: 5.6rem;
    top: 0;
    left: 13.125rem;
    background-image: linear-gradient(to top left, transparent 50%, #fff 50%);
  }
}
