#box {
  position: relative;
  height: 14em;
  width: 25em;
  margin: 15px;
  background-color: #4d7198;
  &::before {
    left: 0em;
    border-right-color: transparent;
    border-left-color: #4d7198;
  }
  &:hover {
    #canvas {
      animation-play-state: running !important;
    }
  }
  #load {
    position: absolute;
    top: 5em;
    left: 7.3em;
    height: 3em;
    width: 11em;
    overflow: hidden;
    background-color: #688bb0;
    border-radius: 5px;
    box-shadow: inset 0 0 5px 2px #4d7198;
    #canvas {
      position: relative;
      width: 17em;
      height: 100%;
      left: -3em;
      animation-name: loadAnimation;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-play-state: paused;
      .line {
        float: left;
        height: 5em;
        width: 1em;
        margin-left: 1em;
        margin-top: -1em;
        background-color: #4d7198;
        transform: rotate(45deg);
      }
    }
  }
}
#box::after,
#box::before {
  content: '';
  position: absolute;
  left: 23em;
  top: 14em;
  height: 0;
  width: 0;
  border-top: 1em solid #4d7198;
  border-right: 1em solid #4d7198;
  border-left: 1em solid transparent;
  border-bottom: 1em solid transparent;
}

@keyframes loadAnimation {
  from {
    margin-left: -1em;
  }
  to {
    margin-left: 1em;
  }
}
