doctype 5
html lang="en"
	head
		title Bicycle animated by CSS3 | Alex Volkov
		link rel="stylesheet" href="css/styles.css"
		meta name="viewport" content="width=device-width, initial-scale=1"
		meta name="Descriprion" content="Alex Volkov played with CSS3 Animations and made a bicycle"
	body
		#bike
			#logo
				h1 
					span.cssLabel 
						|CS
						span.re S
					|  is aw
					span.awesome e
					| so
					span.awesome m
					| e
			#frametop
			#framechainstay
			#framefork
			#frameseattube
			#frameseatstay
			#framedowntube
			#seat
				#base
				#nose
			.handlebars
				#post
				#bar
				#handle
			#backwheel
				.center
				.spoke1
				.spoke2
				.spoke3
				.spoke4
				.spoke5
			#frontwheel
				.center
				.spoke1
				.spoke2
				.spoke3
				.spoke4
				.spoke5