doctype 5
html lang="ru"
	head
		meta charset="UTF-8" 
		title CSS3 Телеканал Дождь
		link rel="stylesheet" href="css/tvrain.css"
		meta http-equiv="X-UA-Compatible" content="IE=edge"
		meta name="viewport" content="width=device-width, initial-scale=1"
		meta name="description" content="Алексей Волков игрался с CSS3 и сделал анимированный знак телеканала Дождь"
	body
		.background
			video.background__video autoplay="" loop="" muted="" poster="images/r.jpg"
				source src="videos/rain.webm" type="video/webm"
				source src="videos/rain.mp4" type="video/mp4"
				p lang="en"
					| It's actually a video.
			.background__logo
				h1.background__heading-1 lang="ru" 
					| До
					span.heading-1__span
						| ///
					| дь				
				h4.background__heading-4 lang="en"
					| Optimistic channel
				h2.background__heading-2 lang="en"
					| live