@font-face
	font-family "JetBrains Mono"
	font-display fallback
	src local("JetBrains Mono"), url(../fonts/JetBrainsMono-Regular.ttf) format('truetype')
@keyframes bikeLoop
	for i in 0..100
		{1%*i}
			transform rotate(i*36deg)
@keyframes wheelRadius
	0%
		border-radius 50%
	50%
		border-radius 48%
	100%
		border-radius 49%
@keyframes backgroundLoop
	from
		background-position 0% 0%
	to
		background-position -50rem 0%
@keyframes cssBlinking
	0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100%
		opacity .99
		text-shadow 0 0 5rem red,0 0 1.875rem FireBrick,0 0 .375rem DarkRed
	19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999%
		opacity 0.4
		text-shadow none
@keyframes awesomeBlinking
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100%
		opacity .99
		text-shadow 0 0 5rem #ffffff,0 0 1.875rem #008000,0 0 .375rem #0000ff
	20%, 21.999%, 63%, 63.999%, 65%, 69.999%
		opacity 0.4
		text-shadow none
html
	min-width 28rem
.bike
	width 28rem
	height 30rem
	position relative
	margin 1rem auto
	overflow hidden
	
	// filter grayscale(1)
	border-radius .2rem
	background-image url(../images/d.jpg)
	box-shadow 0 .2rem .2rem #BFAD95, 0 .3rem .3rem #BFAD95, 0 .4rem .5rem #BFAD95
	animation backgroundLoop 3.5s linear infinite
	animation-play-state running
	// transition filter 1s
	// &:hover, &:focus
	// 	animation-play-state running
	// 	filter grayscale(0)
	// 	.wheel					
	// 		animation-play-state running
	
	[class*="frame__"]
		height .625rem
		background-color red
		position absolute
		z-index 2
		border-radius 5px
		animation frameBoxShadow 1s infinite
		// animation-play-state paused

	plusHeight = 6.3rem
	.frame__fork
	.frame__seattube
		top 14.5 + plusHeight
		left 16.8rem
		width 8.1rem
		transform rotate(41deg)
	.frame__fork
		top 13.8rem + plusHeight
		left 17rem
		width 7.3rem
		transform rotate(74deg)
	.frame__seattube
		left 4.5rem
	.frame__top
		width 14.3rem
		top 10.3rem + plusHeight
		left 6.5rem
		transform-origin 100% 50%
		transform rotate(-12deg)
	.frame__chainstay
		top 17.25rem + plusHeight
		left 6.5rem
		width 5.3rem
	.frame__seatstay
		top 14.6rem + plusHeight
		left 3.125rem
		height .3rem !important
		width 6.2rem
		transform rotate(-101deg)
	.frame__downtube
		width 10.6rem
		left 10.3rem
		top 13.9rem + plusHeight
		transform rotate(-40deg)

	.handlebars
		position relative
		left 19.9rem
		top 9.3rem + plusHeight
		z-index 3
		.handlebars__post
			background-color silver
			height .625rem
			width .625rem
			position absolute
			top .625rem
		.handlebars__bar
		.handlebars__handle
			position absolute
			top .3rem
			width 3.125rem
			height .6rem
			background-color silver
			border-radius 1.25rem
			transform-origin 0% 50%
			transform rotate(-20deg)
		.handlebars__handle
			background-color black
			width 1.5rem
			height .75rem
			transform rotate(-20deg) translateX(1.5rem)
	.seat
		background-color black
		position absolute
		left 4.75rem
		top 11.5rem + plusHeight
		z-index 3
		border-radius 1.25rem
		.seat__base
			width 1.8rem
			height 1.5rem
		.seat__nose
			background-color black
			width 2.5rem
			height .9rem
			position absolute
			top 0
			left 1.25rem
			border-bottom-right-radius .9rem
	.wheel
		width 7.6rem
		height 7.6rem
		position absolute
		border thick solid black
		top 19.5rem

		border-radius 50%
		box-shadow inset 0 0 0 .3rem purple
		animation-name bikeLoop, wheelRadius
		animation-duration 10s
		animation-iteration-count infinite
		// animation-play-state paused
		
	.wheel__center
		position absolute
		top 3.8rem
		left 3.8rem
		width .5rem
		height .5rem
		border-radius 50%
		background-color black
	[class*="wheel__spoke"]
		height .1rem
		width 3.8rem
		background-color black
		position absolute
		top 4rem		
		transform-origin 100% 50%
	.wheel__spoke1
		transform rotate(72deg)
	.wheel__spoke2
		transform rotate(144deg)
	.wheel__spoke3
		transform rotate(216deg)
	.wheel__spoke4
		transform rotate(288deg)
	.wheel_back
		left 2.1rem			
	.wheel_front
		left 17.3rem

.bike__logo
	position absolute
	width 100%
	height 5rem
	padding 1em 0

	text-align center
	perspective 31.25rem

	&:hover, &:focus
		background-color rgba(0, 0, 0, 0.7)
		.bike__heading
			color white
			transform rotate(0)
			text-shadow 0 0 5rem #ffffff,0 0 1.875rem #008000,0 0 0.375rem #0000ff
			.text-red
				color red
				text-shadow 0 0 5rem red,0 0 30px FireBrick,0 0 0.375rem DarkRed
				.text-blink
					animation-name cssBlinking
					animation-duration 10s
					animation-iteration-count infinite
					animation-timing-function linear
					animation-play-state running
			.text
				text-shadow 0 0 5rem #ffffff,0 0 1.875rem #008000,0 0 0.375rem #0000ff
				animation-name awesomeBlinking
				animation-duration 11s
				animation-iteration-count infinite
				animation-timing-function linear
				animation-play-state running
	.bike__heading
		font-family "JetBrains Mono", Verdana, Arial, Helvetica, sans-serif
		color black

		transition color .1s, transform 0.3s
		transform-origin 0% 50%
		transform rotate(3deg)