tvrainColor = #EE2375
@font-face
	font-family 'Rain Tungsten'
	src local('Rain Tungsten'), url('../fonts/rain.ttf') format('truetype')
#background
	position relative
	margin 20px
	width 768px
	height 432px

	//background-image url("../images/rain.jpg")
	background-attachment scroll
	background-repeat no-repeat
	background-size contain
	border-radius 5px;
	box-shadow 0 -2px 3px 1px #C6E4FC, 0 -2px 6px 4px #F7FBFC, 0 2px 3px 1px #7E9299, 0 2px 6px 4px #7E9299

	video
		position absolute
		height 100%
		width 100%
		z-index 10
	#logo
		position absolute
		z-index 20
		height 100%
		width 100%

		font-family: /*Rain Tungsten*/Arial, sans-serif
		text-transform uppercase

		h1, h4, h2
			background-color gray
			display block
			margin 0
			position absolute
		h1			
			font-size 160px
			top 20px
			left 76px

			color tvrainColor
			text-shadow 0 0 2px tvrainColor
		h4
			font-size 47px
			padding 10px
			top 195px
			left 90px

			color white
			text-shadow 0 0 1px black
		h2
			top 276px
			left 458px			
			padding 7px
			font-size 74px
			
			background-color black
			color white
			text-shadow 0 0 2px black
			&::after
				content ''
				position absolute
				width 44px
				height 1.35em
				top 0
				left 179px
				
				background: linear-gradient(to top left, white 50%, black 50%);